@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Josefin+Sans:wght@700&family=Lato:wght@300;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-100 text-black dark:bg-neutral-900 dark:text-white transition-colors duration-200;
  }

  html * {
    @apply transition-colors duration-200;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }
  h2 {
    @apply text-xl sm:text-2xl md:text-3xl;
  }

  li {
    @apply cursor-pointer text-xs sm:text-sm md:text-base;
  }

  p {
    @apply text-xs md:text-base;
  }
  .bar1,
  .bar2,
  .bar3 {
    @apply w-[30px] h-[3px] bg-[#1c1c1c] dark:bg-[#c1c1c1] mx-[7px] transition duration-[0.4s];
  }
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 74px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #1c1c1c;
  margin: 7px 0;
  transition: 0.4s;
}

.ganti.bar1 {
  transform: translate(0, 10px) rotate(45deg);
}

.ganti.bar2 {
  opacity: 0;
}

.ganti.bar3 {
  transform: translate(0, -10px) rotate(-45deg);
}
